/bots.cfg
/CMakeLists.txt
/Dockerfile
/fmodex64.dll
/freedoom2.wad
/libmpg123-0.dll
/libsndfile-1.dll
/map_edit_regex.txt
/skulltag_data.pk3
/vizdoom.exe
/vizdoom.pk3
/vizdoom.pyd
/vizdoom-trist.ini
/acc158win/
/experience/
/models/
/plots/
/statistics/
/src/examples/
/src/utils/convnet_fig.png
/src/training/c51_ddqn.py
/src/training/dfp.py
/src/training/drqn.py
/src/utils/plot_statistics.py
/.idea
